<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
    {{!-- <img src="/images/{{paintings.[0].filename}}" alt="{{paintings.[0].description}}"> --}}
    <p><b>Creation Date: </b>{{format_date_local date_created}}</p>
  </a>
</section>